<p id="notice"><%= notice %></p>

<h1>Training Session Activities</h1>

<table>
  <thead>
    <tr>
      <th>Training session</th>
      <th>Activity</th>
      <th>Summary</th>
      <th>Good</th>
      <th>Bad</th>
      <th>Suggestion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_session_activities.each do |training_session_activity| %>
      <tr>
        <td><%= training_session_activity.training_session %></td>
        <td><%= training_session_activity.activity %></td>
        <td><%= training_session_activity.summary %></td>
        <td><%= training_session_activity.good %></td>
        <td><%= training_session_activity.bad %></td>
        <td><%= training_session_activity.suggestion %></td>
        <td><%= link_to 'Show', training_session_activity %></td>
        <td><%= link_to 'Edit', edit_training_session_activity_path(training_session_activity) %></td>
        <td><%= link_to 'Destroy', training_session_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training Session Activity', new_training_session_activity_path %>
