<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @activity.activity_type&.name %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'List', activities_path %>
