<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Touch Sessions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= image_tag :pershore_rugby, class: 'logo' %>
        <a class="navbar-brand" href="#">Pershore Touch</a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <%= nav_link_to 'Sessions', root_path %>
            <%= nav_link_to 'Activities', activities_path %>
          </ul>
        </div>
      </nav>
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="nav-spacer"></div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
